<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Bundle Name="Установщик приложения ТехО (включая Java 8)"
            Version="1.0.1.1"
            DisableModify="yes"
            DisableRemove="yes"
            Manufacturer="ВАРБ"
            UpgradeCode="1665a0f2-a96c-434a-b936-2afda50ba30d">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication
                    LicenseUrl=""
                    SuppressOptionsUI="yes"
                    SuppressRepair="yes"
                    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"/>
        </BootstrapperApplicationRef>

        <Chain>
            <MsiPackage Id="TEHO"
                        DisplayName="Установка приложения ТехО..."
                        Visible="yes"
                        DisplayInternalUI="yes"
                        InstallCondition="1"
                        SourceFile="TEHO_installer.msi"/>
            <PackageGroupRef Id="Java8Runtime"/>
        </Chain>
    </Bundle>
    <Fragment>
        <util:RegistrySearch Id="JRE_CURRENT_VERSION_REGSEARCH"
                             Root="HKLM"
                             Key="SOFTWARE\JavaSoft\Java Runtime Environment"
                             Value="CurrentVersion"
                             Win64="no"
                             Variable="JAVA_CURRENT_VERSION" />
        <util:RegistrySearch Id="JRE_CURRENT_VERSION_REGSEARCH64"
                             Root="HKLM"
                             Key="SOFTWARE\JavaSoft\Java Runtime Environment"
                             Value="CurrentVersion"
                             Win64="yes"
                             Variable="JAVA_CURRENT_VERSION64"/>
        <PackageGroup Id="Java8Runtime">
            <ExePackage Id="Java8Runtime64"
                        DisplayName="Установка Java Runtime Version 8..."
                        Cache="yes"
                        Compressed="yes"
                        PerMachine="yes"
                        Permanent="yes"
                        Vital="yes"
                        SourceFile="jre-8u281-windows-x64.exe"
                        InstallCondition="VersionNT64 AND ((NOT JAVA_CURRENT_VERSION64) OR (JAVA_CURRENT_VERSION64 &lt; &quot;1.8&quot;))"
                        InstallCommand="/s "/>
            <ExePackage Id="Java8Runtime32"
                        DisplayName="Установка Java Runtime Version 8..."
                        Cache="yes"
                        Compressed="yes"
                        PerMachine="yes"
                        Permanent="yes"
                        Vital="yes"
                        SourceFile="jre-8u281-windows-i586.exe"
                        InstallCondition="NOT VersionNT64 AND ((NOT JAVA_CURRENT_VERSION) OR (JAVA_CURRENT_VERSION &lt; &quot;1.8&quot;))"
                        InstallCommand="/s "/>
        </PackageGroup>
    </Fragment>
</Wix>
