<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product Id="63fdab7a-756f-4276-8738-6cc9f1911cf2"
             Name="ТЕХО"
             Language="1049"
             Manufacturer="ВАРБ"
             Version="1.0.1.0"
             UpgradeCode="b0f67ca3-c7a1-41c8-9ee3-a109a3160dd4">

        <Package InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine"/>
        <Icon Id="teho.ico" SourceFile="teho.ico"/>
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="Более новая версия [ProductName] уже установлена."/>
        <MediaTemplate EmbedCab="yes"/>

        <Property Id="ARPPRODUCTICON" Value="teho.ico"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

        <UI>
            <UIRef Id="WixUI_InstallDir"/>

            <!-- Skip license dialog -->
            <Publish Dialog="WelcomeDlg"
                     Control="Next"
                     Event="NewDialog"
                     Value="InstallDirDlg"
                     Order="2">1
            </Publish>
            <Publish Dialog="InstallDirDlg"
                     Control="Back"
                     Event="NewDialog"
                     Value="WelcomeDlg"
                     Order="2">1
            </Publish>
        </UI>
        <WixVariable Id="WixUIExclamationIco" Value="teho.ico"/>
        <WixVariable Id="WixUIInfoIco" Value="teho.ico"/>
        <WixVariable Id="WixUINewIco" Value="teho.ico"/>
        <WixVariable Id="WixUIUpIco" Value="teho.ico"/>
        <Feature Id="ProductFeature"
                 Title="The main feature"
                 Level="1">
            <ComponentGroupRef Id="ProductComponents"/>
            <ComponentRef Id="cmpDesktopShortcut"/>
        </Feature>
    </Product>


    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER"
                           Name="TEHO"/>
            </Directory>
            <Directory Id="DesktopFolder"/>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents"
                        Directory="INSTALLFOLDER">
            <Component Id="TEHO_exec"
                       Guid="baf44295-5b07-4f07-83cc-01414dbb1de4">
                <File Source="start.vbs"/>
            </Component>
            <Component Id="TEHO"
                       Guid="cd625b0b-65a7-4e43-8f38-76a9ef3975f4">
                <File Source="run.bat"/>
                <File Source="teho-1.0-RELEASE.jar"/>
                <File Source="teho.exe"/>
            </Component>
        </ComponentGroup>
        <Component Id="cmpDesktopShortcut" Guid="913dcbc5-278f-42e7-91bd-a3bc4ca03ac6" Directory="DesktopFolder">
            <Shortcut Id="MyDesktopShortcut"
                      Name="TEXO"
                      Description="TEXO"
                      Directory="DesktopFolder"
                      Target="[INSTALLFOLDER]start.vbs"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="teho.ico"/>
            <RegistryValue Root="HKCU" Key="Software\VARB\TEHO" Name="installed" Type="integer" Value="1"
                           KeyPath="yes"/>
        </Component>
    </Fragment>

</Wix>